@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #262732;
    margin: 0;
}

header {
    background-color: #272a39;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline-block;
    width: 500px;
    margin: 0;
    padding-left: 32px;
    font-size: 4em;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #ebebeb;
    text-shadow: -5px 5px 0px #0a3cfe,
                 -10px 10px 0px #0121a2,
                 -15px 15px 0px hsl(228, 99%, 12%);
}

.link {
    font-family: 'IBM Plex Sans', sans-serif;
    display: block;
    width: 400px;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    align-self:flex-end;
    text-align: right;
}

.link:visited {
    color: #fff;
}

.github {
    display: inline-block;
    margin: 5px;
    height: 18px;
    width: 18px;
    vertical-align: -8px;
}

.flex-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 900px;
    z-index: -3;
    box-shadow: 0px 0px 5px rgba(25, 25, 25, 0.11);
}

.grid-container {
    display: grid;
    width: 800px;
    box-shadow: 10px 10px black;
}

.grid-item {
    background-color: #ebebeb;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-item:nth-child(2n+1) {
    background-color: #d1d1d1;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 0em 2em;
    position: relative;
    background-color: #272a39;
    border-radius: 10px;
    margin-right: 20px;
}

#button-container > * {
    margin: 10px;
}

input[type=color]{
    appearance: none;
    border: 0;
    background-color: transparent;
}

button {
    display: block;
    padding: 5px 30px;
    width: 120px;
    position: relative;
    background-color: transparent;
    border:2px solid #0a5afe;
    border-radius: 30px;
    color: #ebebeb;
}

  button:active {
    background-color: #0a5afe;
    transform: translateY(2px);
    box-shadow: 0px 2px  hsl(220, 99%, 32%);
  }

  /* slider thumb styles */
input[type=range] {
    width: 5px;
    margin:  2px 0;
    background-color: transparent;
    -webkit-appearance: slider-vertical;
}

input[type=range]:focus {
    outline: none;
}

input[type="range" i]::-webkit-slider-runnable-track {
    background: #ebebeb;
    border: 0;
    border-radius: 25px;
    width: 0px;
    height: 100%;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: translateX(8px);
    width: 14px;
    height: 14px;
    background-color: #0a5afe;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    appearance: none;  
}

input[type=range]::-moz-range-track {
    background: #ebebeb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=range]::-moz-range-progress {
    background-color: #0a5afe;
    border-radius: 4px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    width: 14px;
    height: 14px;
    background-color: #0a5afe;
    border-radius: 50%;
    cursor: pointer;
}

footer {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}


