
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 10%;
    /* background-image: linear-gradient(
    40deg,
    hsl(227deg 56% 8%) 0%,
    hsl(228deg 57% 9%) 16%,
    hsl(231deg 56% 10%) 23%,
    hsl(233deg 59% 11%) 28%,
    hsl(235deg 59% 12%) 32%,
    hsl(237deg 59% 13%) 36%,
    hsl(239deg 61% 13%) 40%,
    hsl(240deg 61% 14%) 44%,
    hsl(243deg 63% 15%) 47%,
    hsl(244deg 63% 16%) 51%,
    hsl(247deg 65% 17%) 54%,
    hsl(247deg 64% 18%) 58%,
    hsl(250deg 66% 18%) 61%,
    hsl(252deg 67% 19%) 65%,
    hsl(254deg 67% 20%) 68%,
    hsl(256deg 68% 21%) 72%,
    hsl(258deg 70% 22%) 76%,
    hsl(259deg 69% 23%) 81%,
    hsl(261deg 70% 24%) 85%,
    hsl(263deg 71% 25%) 90%,
    hsl(265deg 72% 25%) 95%,
    hsl(267deg 73% 26%) 100%
    ); */
    background-color: #1e1f2a;
}

.flex-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #272a39;
    width: 800px;
    z-index: -3;
    box-shadow: 0px 0px 5px rgba(25, 25, 25, 0.11);
}

.grid-container {
    display: grid;
    width: 600px;
}

.grid-item {
    background-color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-item:nth-child(2n+1) {
    background-color: #ebebeb;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
}

#button-container > * {
    margin: 10px;
}

input[type=color]{
    appearance: none;
    border: 0;
    background-color: transparent;
}

button {
    display: block;
    padding: 5px 30px;
    width: 120px;
    position: relative;
    background-color: rgb(25, 197, 125);
    border: none;
    box-shadow: 0px 4px hsl(155, 77%, 34%);
    color: #ebebeb;
    border-radius: 4px;
}

  button:active {
    background-color:  rgb(25, 197, 125);
    transform: translateY(2px);
    box-shadow: 0px 2px  hsl(155, 77%, 34%);
  }

  /* slider thumb styles */
  input[type=range] {
    width: 20px;
    margin:  2px 0;
    background-color: transparent;
    -webkit-appearance: slider-vertical;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    background: #ebebeb;
    border: 0;
    border-radius: 25px;
    width: 7px;
    height: 100%;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: translateX(4.5px);
    width: 14px;
    height: 14px;
    background-color: #19c57d;
    border: 2px solid #149962;
    border-radius: 50%;
    cursor: pointer;
  }

  #thumb {
    background-color: #19c57d;
    width: 200px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ebebeb;
  }

  input[type=range]::-moz-range-track {
    background: #ebebeb;
    border: 0;
    border-radius: 4px;
    width: 5px;
    cursor: pointer;
  }

  input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #19c57d;
    border: 2px solid #149962;
    border-radius: 50%;
    cursor: pointer;
  }

